<hr>
{{ data }}
<div [innerText]="data"></div>

<input type="text" #name>
<button (click)="onClick($event, name.value)">test</button>

<input type="text" [(ngModel)]="dataNgModelTest">
{{ dataNgModelTest }}
<hr>
<sd-dtform></sd-dtform>

<hr>
<p>
Pour les notions d'héritage de données dans les components :
Version basique :
</p>
<ul>
	<li *ngFor="let gr of table">
		{{ gr.description }}
	</li>
</ul>
<p>
Version avec un template html :
</p>
<ul>
	<li *ngFor="let gre of table">
		<enfant [children]="gre"></enfant>
	</li>
</ul>